@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Atma", system-ui;
}
body{
    background-color: beige;
}
.container{
    max-width:920px;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin:0 auto;

}
.header{
    display:flex;
    align-items:center;
    justify-content:center;
    color:brown;
    border-bottom:2px solid black;
    height: 40px;
    
}
.header h3{
    font-size:40px;
    font-weight:1000;
   
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 20;
}

.info a {
    color: rgb(243, 167, 108);
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.info a:hover{
    color: rgb(125, 68, 25);
}

.input-container{
    background-color: #2e2e38;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #5c5c66;
    position: sticky;
    bottom: 0;
    border-radius:7px;
}

#user-input {
    background-color: #3f3f4c;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 8px;
    flex: 9;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
}

#user-input::placeholder{
    color: #8e8e8e;
    font-weight: 400;
}

#send-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 175) ;
    color: black;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.3s ease;
}    

#send-button:hover{
    background-color:rgb(221, 221, 0);
}